@import url("./colors.css");

.main {
  min-width: 100%;
  background: var(--teal-1000);
  color: var(--teal-50);
  overflow: hidden;
}

.main-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 2.5 0;
}

.notes-container {
  columns: 1;
  gap: 0.75rem;
  width: 80%;
  margin: 2.5rem auto;
  padding-bottom: 7rem;
}

/* above sm screens */
@media (min-width: 640px) {
  .notes-container {
    columns: 2;
  }
}

/* above md screens */
@media (min-width: 768px) {
  .notes-container {
    columns: 3;
  }
}
