.editable-notecard-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(90%);
}

.editable-notecard {
  position: fixed;
  width: 90%;
  text-align: center;
  top: 35%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -35%);
  background-color: var(--teal-800);
  border: 2px solid var(--teal-50);
  border-radius: 5px;
}

.editable-notecard-heading {
  font-size: 1.5rem;
}

@media (min-width: 640px) {
  .editable-notecard {
    width: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
