.notecard {
  cursor: pointer;
  break-inside: avoid;
  margin-bottom: 0.75rem;
  border: 1px solid var(--teal-50);
  outline: 2px solid transparent;
  border-radius: 0.125rem;
  padding: 0.75rem 1rem;
  word-break: normal;
  overflow-y: scroll;
  scrollbar-width: none;
  white-space: pre-wrap;
}

.notecard:hover {
  outline: 2px solid var(--teal-50);
  border-radius: 0.5rem;
}

.notecard::-webkit-scrollbar {
  display: none;
}

.notecard-disabled {
  cursor: default;
  break-inside: avoid;
  margin-bottom: 0.75rem;
  border: 1px solid var(--lime-50);
  border-radius: 0.125rem;
  padding: 0.75rem 1rem;
  opacity: 0.3;
}

.notecard-heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

.notecard-divider {
  width: 100%;
  height: 1px;
  background-color: var(--teal-50);
}
